:root {
  --lightmode-bg-color: {{ .Site.Params.style.lightModeBGColor | default "#FFFFFF" }};
  --lightmode-fg-color: {{ .Site.Params.style.lightModeFGColor | default "#000000" }};
  --lightmode-link-color: {{ .Site.Params.style.lightModeLinkColor | default "#5E5EFF" }};
}

body {
  color: #000;
  font-family: sans-serif;
  line-height: 1.5;
}

body.light {
  color: var(--lightmode-fg-color);
  background-color: var(--lightmode-bg-color);

  a {
    color: var(--lightmode-link-color);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  max-width: 768px;
  display: grid;
  grid-template-columns: auto;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  text-align: center;
}
