@font-face {
  font-family: 'DrakoniSans';
  src: url(/DrakoniSans.otf);
}

.posts-list-item-title {
  font-size: 1.5em;
  line-height: 1;
}

.posts-list-item-summary {
  display: block;
  margin-top: 0px;
  p { display: inline-block; margin: 0px; }
}

.app-header-menu-item {
  font-weight: bold;
  font-size: 110%;
}

.app-header-title {
  font-family: 'DrakoniSans';
  font-size: 250%;
  margin: 0px;
}

.app-container article h1 {
  font-family: 'DrakoniSans';
  font-size: 250%;
  line-height: 1.1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}